{% extends "base.html" %} {% block title %}Login{% endblock %} {% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lastStep.css') }}"> {% endblock %} {% block body %}

<div class="thx"> Thanks you {{current_user.first_name}} for trusting No Pay, No Play for your purchase ! You will get a resume of your order soon at {{ current_user.email }} !</div>

<div class="cmdToPDF"><a href="{{ url_for('auth.pdf', address=address) }}">Download my order resume</a></div>


{% endblock %} {% block script %}
<!-- <script src=""></script> -->
{% endblock %}{% block footer %}
<footer>
    <p><small>&copy; Copyright 2018 | No pay, No Play</small></p>
</footer>
{% endblock %}