{% import "bootstrap/utils.html" as utils %} {% extends "base.html" %}{% block title %}Admin Categories{% endblock %} {% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/adminLists.css') }}"> {% endblock %} {% block body %}
<div class="content-section">
    {{ utils.flashed_messages() }}
    <section class="main">
        {% include "leftside.html" %}
        <section class="rightSide">
            <div class="center">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th width="20%"> Name </th>
                            <th width="10%"></th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td> {{category.name }} </td>
                            <td><a href="{{ url_for('admin.edit_category', id=category.id) }}" style="color: #7B24D1">Edit</a></td>
                            <td><a href="{{ url_for('admin.delete_category', id=category.id) }}" style="color: #D1140F">Delete </a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="addDiv">
                <a class="addOne" href="{{ url_for('admin.add_category') }}">Add</a>
            </div>
        </section>
    </section>
</div>
{% endblock %}