{% extends "base.html" %} {% block title %}Admin{% endblock %} {% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}"> {% endblock %} {% block body %}

<section class="main">
    <section class="leftSide">
        <div class="colorProfil1"></div>
        <div class="colorProfil11"></div>
        <div class="colorProfil2"></div>
        <div class="colorProfil22"></div>
        <div class="colorProfil3"></div>
        <div class="colorProfil33"></div>
        <h1 class="leftTitle">Menu Profil</h1>
        <ul class="listLeftMenu">
            <li class="listLeftItem">
                <a href="#persoInfo">Users</a></li>
            <li class="listLeftItem">
                <a href="#address">Countries</a></li>
            <li class="listLeftItem">
                <a href="#billing">Commands</a></li>
            <li class="listLeftItem">
                <a href="#age">Consumer's Sex</a></li>
        </ul>
    </section>
    <section class="rightSide">
        <div id="persoInfo"></div>
        <div class="persoInfo">
            <h1 class="rightTitle">Users</h1>
        </div>
        <div class="chart">
            <div id="curve_chart" class="chartItem"></div>
        </div>
        <div id="address"></div>
        <div class="address">
            <h1 class="rightTitle ">Countries</h1>
        </div>
        <div class="chart">
            <div id="regions_div" class="chartItem"></div>
        </div>
        <div id="billing"></div>
        <div class="billing">
            <h1 class="rightTitle">Commands</h1>
        </div>
        <div class="chart">
            <div id="chart_div" class="chartItem"></div>
        </div>
        <div id="age"></div>
        <div class="age">
            <h1 class="rightTitle">Consumer's Sex</h1>
        </div>
        <div class="chart">
            <div id="donutchart" class="chartItem"></div>
        </div>
    </section>
</section>

{% endblock %} {% block script %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script> {% endblock %}