{% extends "base.html" %} {% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> {% endblock %} {% block shop %}
<div class="shopped">
    <div class="shoppedLogo"></div>
</div>
<section class="card cardShop">
    <div class="cardContainer">
        <ul>
            <li class="cardNumber">3 items</li>
            <li class="total">123</li>
        </ul>
    </div>
</section> {% endblock %}{% block body %}

<div class="container">
    <div class="newGames">
        New Games
    </div>
    <div class="newGamesContainer">
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
    </div>




    <div class="favorites">
        Best Sellers
    </div>
    <div class="newGamesContainer">
        <div class="nGelement">
            <div class="elementImg ">
                <div class="promo "></div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/base.js') }}"></script> {% endblock %} {% block footer %}
<footer>
    <p><small>&copy; Copyright 2018 | No pay, No Play</small></p>
</footer>
{% endblock %}