{% extends "base.html" %} {% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> {% endblock %} {% block shop %} {% include "shopCard.html" %} {% endblock %}{% block body %}
<div class="container">
    <div class="newGames">
        New Games
    </div>
    <div class="newGamesContainer">
        {% for product in newProducts %}
        <div class="nGelement">
            <div class="elementImg" style="background-image: url({{ product.image }});" id="{{ product.id }}">
                {% if product.discount != 0 %}
                <div class="promo">-{{ product.discount }}%</div>
                {% endif %}
            </div>
            <div class="elementInfo ">
                <div class="elementTitle">{{ product.name }}</div>
                <div class="elementPrice">
                    <div class="price">{{ product.price }} e</div>
                    <div class="addToCard" id="{{ product.id }}"></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="favorites">
        Best Sellers
    </div>
    <div class="newGamesContainer">
        {% for product in favoriteProducts.products %}
        <div class="nGelement" id="{{ product.id }}">
            <div class="elementImg" style="background-image: url({{ product.image }});">
                {% if product.discount != 0 %}
                <div class="promo">-{{ product.discount }}%</div>
                {% endif %}
            </div>
            <div class="elementInfo ">
                <div class="elementTitle">{{ product.name }}</div>
                <div class="elementPrice">
                    <div class="price">{{ product.price }} e</div>
                    <div class="addToCard" id="{{ product.id }}"></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/base.js') }}"></script> {% endblock %} {% block footer %}
<footer>
    <p><small>&copy; Copyright 2018 | No pay, No Play</small></p>
</footer>
{% endblock %}