{% import "bootstrap/wtf.html" as wtf %} {% extends "base.html" %} {% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}"> {% endblock %} {% block shop %} {% include "shopCard.html" %} {% endblock %} {% block body %}
<div class="content-section">
    <div class="center">
        <div class="prodInfo">
            <div class="prodImg" style="background-image: url({{ product.image }});">
            </div>
            <div class="prodDesc">
                <div class="descName">
                    {{ product.name }}
                </div>
                <div class="prodDesc2">
                    <div class="descRating">
                        <strong>Rating : </strong>{{ product.rating }}/5
                    </div>
                    <div class="descPrice">
                        {{ product.price }} $
                    </div>
                </div>
                <div class="prodDesc2">
                    <div class="descDesc">
                        <strong>Description : </strong>{{ product.description }}
                    </div>
                    <div class="descDesc">
                        <strong>Stock : </strong>{{ product.stock }}
                    </div>
                </div>
            </div>
        </div>
        <div class="addDiv">
            {% if available %}
                <div class="addOne addToCard" id="{{ product.id }}">Add to your cart</div>
            {% else %}
                <div>Out Of Stock :/</div>
            {% endif %}
        </div>
        {% if current_user.id %}
        <div class="commentForm ">
            {{ wtf.quick_form(form) }}
        </div> {% endif %}
        <div class="comments ">
            {% for comment in product.comments %}
            <div class="comment ">
                <div class="commentHead ">
                    <div class="headCommLeft ">
                        <div class="commUser ">
                            {{ comment.user.username }}
                        </div>
                    </div>
                    <div class="headCommRight ">
                        <div class="commDate ">
                            <strong>Date : </strong> {{ comment.date }}
                        </div>
                        <div class="commRating ">
                            <strong>Rating : </strong> {{ comment.rating }}/5
                        </div>
                    </div>
                </div>
                <hr>
                <div class="commContent ">
                    {{ comment.content }}
                </div>
                {% if current_user.is_admin %}
                <div class='delComm'>
                    <a href="{{ url_for('home.delete_comment', id_com=comment.id, id_prod=product.id) }}">Delete </a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %} {% block footer %}
<footer>
    <p><small>&copy; Copyright 2018 | No pay, No Play</small></p>
</footer>
{% endblock %}