{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block body %}
<div class="content-section">
   <div class="outer">
      <div class="middle">
         <div class="inner">
            <div class="center">
               <br><br><br><br><br><br>
               <h3> {{ product.name }} </h3>
               <h3> {{ rating }}/5 </h3>
               <h4> Description : {{ product.description }} </h4>
               <br><br><br>
               <hr>
               <a href="{{ url_for('home.add_cart', id = product.id) }}">Add to your cart</a>
               <hr>
               <br>
               {% if current_user.id %}
               {{ wtf.quick_form(form) }}
               {% endif %}
               <br>
               <hr>
               <table class="table table-striped table-bordered">
                  <thead>
                     <tr>
                        <th width="15%"> User </th>
                        <th width="15%"> Date </th>
                        <th width="10%"> Rating </th>
                        {% if current_user.is_admin %}
                        <th width="50%"> Comment </th>
                        <th width="10%"> Delete </th>
                        {% else %}
                        <th width="60%"> Comment </th>
                        {% endif %}
                     </tr>
                  </thead>
                  <tbody>
                     {% for comment in product.comments %}
                     <tr>
                        <td> {{ comment.user.username }} </td>
                        <td> {{ comment.date }} </td>
                        <td> {{ comment.rating }} </td>
                        {% if current_user.is_admin %}
                        <td> {{ comment.content }}</td>
                        <td><a href="{{ url_for('home.delete_comment', id_com=comment.id, id_prod=product.id) }}"><i class="fa fa-trash"></i> Delete </a></td>
                        {% else %}
                        <td> {{ comment.content }}</td>
                        {% endif %}
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               <br>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}