{% extends "base.html" %} {% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/category.css') }}"> {% endblock %} {% block shop %}
{% include "shopCard.html" %} {% endblock %}{% block body %}
<div class="container">
    <div class="gamesContainer">
        {% for product in category.products %}
        <div class="nGelement">
            <a href="{{ url_for('home.product', id=product.id) }}">
                <div class="elementImg" style="background-image: url({{ product.image }});">
                    {% if product.discount %}
                    <div class="promo">- {{ product.discount }} %</div>
                    {% endif %}
                </div>
                <div class="elementInfo ">
                    <div class="elementTitle">{{ product.name }}</div>
                    <div class="elementPrice">
                        <div class="price">{{ product.price }} e</div>
                        {% if product.stock %}
                            <div class="addToCard" id="{{ product.id }}"></div>
                        {% else %}
                            <div>R</div>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/base.js') }}"></script> {% endblock %} {% block footer %}
<footer>
    <p><small>&copy; Copyright 2018 | No pay, No Play</small></p>
</footer>
{% endblock %}