body {
    height: 100vh;
    background: url(../img/backGrd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: pacman;
    src: url(../font/crackman.ttf);
}


/* NavBar */

.navContainer {
    position: fixed;
    top: 0;
    z-index: 9997;
    height: 100px;
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    box-shadow: 0px 3px 3px black;
    background-color: white;
    overflow: hidden;
}

.navElements {
    display: flex;
    height: 100px;
    width: 60vw;
    z-index: 9999;
    list-style: none;
    font-family: pacman;
    font-size: 2em;
    align-items: center;
    padding-left: 5vw;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

.navItem1 {
    height: 100px;
    display: flex;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    width: 20vw;
    margin: 0;
    padding: 0;
}

.navItem2 {
    height: 100px;
    display: flex;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    width: 20vw;
    margin: 0;
    padding: 0;
}

.navItem3 {
    height: 100px;
    display: flex;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    width: 20vw;
    margin: 0;
    padding: 0;
}

.navSearch {
    margin-left: 12vw;
}

.colorNav1 {
    position: absolute;
    height: 25vh;
    width: 1vw;
    left: 23.5vw;
    background-color: #4DD119;
    z-index: 9998;
    transform: rotate(45deg);
}

.colorNav11 {
    position: absolute;
    height: 25vh;
    width: 0.2vw;
    left: 24.5vw;
    background-color: rgb(35, 94, 12);
    z-index: 9998;
    transform: rotate(45deg);
}

.colorNav2 {
    position: absolute;
    height: 25vh;
    width: 1vw;
    left: 44.5vw;
    background-color: #D1140F;
    z-index: 9998;
    transform: rotate(45deg);
}

.colorNav22 {
    position: absolute;
    height: 25vh;
    width: 0.2vw;
    left: 45.6vw;
    background-color: rgb(63, 7, 5);
    z-index: 9998;
    transform: rotate(45deg);
}

.colorNav3 {
    position: absolute;
    height: 25vh;
    width: 1vw;
    left: 63vw;
    background-color: #7B24D1;
    z-index: 9998;
    transform: rotate(45deg);
}

.colorNav33 {
    position: absolute;
    height: 25vh;
    width: 0.2vw;
    left: 64vw;
    background-color: rgb(50, 15, 85);
    z-index: 9998;
    transform: rotate(45deg);
}


/* Searchbar */

.formSearch {
    height: 100%;
    display: grid;
}

.btnSearch {
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    padding: 10px;
    display: flex;
    grid-column: 2;
    align-items: center;
    font-family: pacman;
    font-size: 1.5em;
    justify-content: center;
}

.searchIcon {
    height: 100%;
    width: 100%;
    background-image: url(../img/searchG.png);
    background-position: center;
    background-size: cover;
}

.btnSearch:hover>.searchIcon {
    background-image: url(../img/searchW.png);
}

.inputSearch {
    display: flex;
    grid-column: 1;
}