body {
    padding: 0;
    margin: 0;
    background-color: white;
    background-image: none;
}

.main {
    display: grid;
    grid-template-columns: 20vw 80vw;
}


/* Leftside */

.leftSide {
    grid-column: 1;
    border-right: 1px solid black;
    box-shadow: 3px 0px 3px black;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.colorProfil1 {
    position: absolute;
    height: 1000px;
    width: 15px;
    background-color: #4DD119;
    z-index: 9900;
    transform: rotate(-45deg);
    bottom: -272px;
    right: 145px;
}

.colorProfil11 {
    position: absolute;
    height: 1000px;
    width: 3px;
    background-color: rgb(35, 94, 12);
    z-index: 9900;
    transform: rotate(-45deg);
    bottom: -287px;
    right: 145px;
}

.colorProfil2 {
    position: absolute;
    height: 1000px;
    width: 15px;
    background-color: #D1140F;
    z-index: 9900;
    transform: rotate(-45deg);
    bottom: -305px;
    right: 145px;
}

.colorProfil22 {
    position: absolute;
    height: 1000px;
    width: 3px;
    background-color: rgb(63, 7, 5);
    z-index: 9900;
    transform: rotate(-45deg);
    bottom: -320px;
    right: 145px;
}

.colorProfil3 {
    position: absolute;
    height: 1000px;
    width: 15px;
    background-color: #7B24D1;
    z-index: 9900;
    transform: rotate(-45deg);
    bottom: -338px;
    right: 145px;
}

.colorProfil33 {
    position: absolute;
    height: 1000px;
    width: 3px;
    background-color: rgb(50, 15, 85);
    z-index: 9900;
    transform: rotate(-45deg);
    bottom: -350px;
    right: 150px;
}

.listLeftMenu {
    list-style: none;
    width: 100%;
    padding: 0;
}

.listLeftItem {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

a {
    text-decoration: none;
}

.leftTitle {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 17vh;
    margin-bottom: 3vh;
    color: black;
    font-family: pacman;
    font-size: 2em;
    text-align: center;
}


/* Rightside */

.rightSide {
    grid-column: 2;
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
}

.center {
    margin-top: 15%;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .rightSide>div {
        width: 60%;
    }
}

@media screen and (max-width: 1100px) {
    .main {
        grid-template-columns: 30vw 70vw;
    }
}

@media screen and (max-width: 900px) {
    .rightSide>div {
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    .main {
        display: block;
    }
    .leftTitle {
        margin-top: 150px;
        margin-bottom: 10px;
    }
    .listLeftItem {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .colorProfil1 {
        bottom: -700px;
    }
    .colorProfil11 {
        bottom: -718px;
    }
    .colorProfil2 {
        bottom: -730px;
    }
    .colorProfil22 {
        bottom: -747px;
    }
    .colorProfil3 {
        bottom: -760px;
    }
    .colorProfil33 {
        bottom: -775px;
    }
    .rightSide {
        overflow: initial;
    }
    .leftSide {
        padding-bottom: 30px;
        box-shadow: 0px 3px 3px black;
    }
}