body {
    height: fit-content;
}

.thx {
    margin-top: 200px;
    margin-bottom: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    font-size: 1.5em;
    font-weight: 600;
}

.cmdToPDF {
    margin-bottom: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 3%;
    background-color: #7B24D1;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    font-weight: 600;
    transition: 0.3s;
}

.cmdToPDF:hover {
    transform: scale(1.3);
    background-color: rgb(50, 15, 85);
    transition: 0.3s;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 500px) {
    footer {
        justify-content: center;
        padding-left: 0;
    }
    .thx {
        margin-bottom: 160px;
        width: 90%;
    }
}

@media screen and (max-width: 365px) {
    .thx {
        font-size: 1.3em;
    }
}