{% extends "base.html" %} {% block title %}Admin{% endblock %} {% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}"> {% endblock %} {% block body %}

<section class="main">
    {% include "leftside.html" %}
    <section class="rightSide">
        <br><br><br><br><br><br>
        <h3 class="rightTitle ">Subscription Year</h3>
        <div class="chart">
            <div id="curve_chart1" class="chartItem"></div>
        </div>
        <h3 class="rightTitle ">Purchase Year</h3>
        <div class="chart">
            <div id="curve_chart2" class="chartItem"></div>
        </div>
        <h3 class="rightTitle ">Purchase Week</h3>
        <div class="chart">
            <div id="curve_chart3" class="chartItem"></div>
        </div>
        <h3 class="rightTitle ">Income Year</h3>
        <div class="chart">
            <div id="curve_chart4" class="chartItem"></div>
        </div>
        <h3 class="rightTitle ">Income Week</h3>
        <div class="chart">
            <div id="curve_chart5" class="chartItem"></div>
        </div>
        <h3 class="rightTitle ">Repartition of members</h3>
        <div class="chart">
            <div id="regions_div" class="chartItem"></div>
        </div>
    </section>
</section>
<meta id="listNumberMember" data-name="{{ listNumberMember }}">
<meta id="listCountryMember" data-name="{{ listCountryMember }}">
<meta id="listPurchaseY" data-name="{{ listPurchaseY }}">
<meta id="listPurchaseW" data-name="{{ listPurchaseW }}">
<meta id="listIncomeY" data-name="{{ listIncomeY }}">
<meta id="listIncomeW" data-name="{{ listIncomeW }}"> {% endblock %} {% block script %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script> {% endblock %}