<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Np²</title>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='font/crackman.ttf') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nullify.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <header>
        <nav class="navContainer">
            <ul class="navElements">
                <li class="navItem1">
                    <a class="" href="">Home</a>
                </li>
                <li class="navItem2">
                    <a class="" href="">Categories</a>
                </li>
                {% if not session['userId'] %}
                <li class="navItem3">
                    <a class="" href="">Connexion</a>
                </li>
                {% endif %} {% if session['userId'] %}
                <li class="navItem3">
                    <!-- <a class="" href="{{ url_for() }}">Deconnexion</a> -->
                </li>
                {% endif %}
            </ul>
            <div class="navSearch">
                <form class="formSearch">
                    <input class="form-control form-control-lg inputSearch" type="search" aria-label="Search">
                    <button class="btn btn-outline-success btnSearch" type="submit">Rechercher</button>
                </form>
            </div>
            <div class="colorNav1"></div>
            <div class="colorNav11"></div>
            <div class="colorNav2"></div>
            <div class="colorNav22"></div>
            <div class="colorNav3"></div>
            <div class="colorNav33"></div>
        </nav>
    </header>

    {% block content %} {% endblock %}

    <script href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>