<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No pay, No play</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon2.png') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='font/crackman.ttf') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nullify.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <header>
        <nav class="navContainer">
            <ul class="navElements">
                <li class="navLogo">Np²</li>
                <li class="navItem1">
                    <a class="" href="">Home</a>
                </li>
                <li class="navItem2">
                    <a class="" href="">Categories</a>
                </li>
                {% if not session['userId'] %}
                <li class="navItem3">
                    <a onclick="signIn()">Connexion</a>
                </li>
                {% endif %} {% if session['userId'] %}
                <li class="navItem3">
                    <!-- <a class="" href="{{ url_for() }}">Deconnexion</a> -->
                </li>
                {% endif %}
            </ul>
            <div class="navSearch">
                <form class="formSearch">
                    <input class="form-control form-control-lg inputSearch" type="search" aria-label="Search">
                    <button class="btn btn-outline-success btnSearch" type="submit">
                        <div class="searchIcon"></div>
                    </button>
                </form>
            </div>
            <div class="colorNav1"></div>
            <div class="colorNav11"></div>
            <div class="colorNav2"></div>
            <div class="colorNav22"></div>
            <div class="colorNav3"></div>
            <div class="colorNav33"></div>

        </nav>
    </header>
    <section class="signInSection">
        <div class="card card-signin">
            <div class="card-body">
                <form class="form-signin" method="POST">
                    <div class="">
                        <input type="email" name="inputEmail" id="inputEmail" class="inputSignin" placeholder="Email address" required autofocus>
                    </div>
                    <div class="">
                        <input type="password" name="inputPassword" id="inputPassword" class="inputSignin" placeholder="Password" required>
                    </div>
                    <button class="btn-signIn" type="submit">Sign In</button>
                    <div class='text-center mt-2'>
                        <a href="#" class="text-center ">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="shopped">
        <div class="shoppedLogo"></div>
    </div>
    <section class="card cardShop">
        <div class="cardContainer">
            <ul>
                <li class="cardNumber">3 items</li>
                <li class="total">123</li>
            </ul>
        </div>
    </section>
    {% block content %} {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>

</html>