{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="newGames">
        New Games
    </div>
    <div class="newGamesContainer">
        <div class="nGelement">
            <div class="elementImg">
                <div class="promo">-40%</div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="favorites ">
        Best Sellers
    </div>
    <div class="favoritesContainer ">
        <div class="favElement ">
            <div class="elementImg ">
                <div class="promo "></div>
            </div>
            <div class="elementInfo ">
                <div class="elementTitle ">No Pay, No Play</div>
                <div class="elementPrice">
                    <div class="price">9999 e</div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}