<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | No pay, No play</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon2.png') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='font/crackman.ttf') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nullify.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> {% block links %} {% endblock %}
</head>

<body>
    <header>
        <div class="nav--responsive">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="" href="{{ url_for('home.homepage') }}">Home</a>
                </li>
                <li class="nav__item">
                    <a class="" href="{{ url_for('home.list_categories') }}">Categories</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav__item">
                    <a class="" href="{{ url_for('auth.profil') }}">Profil</a>
                </li>
                {% else %}
                <li class="nav__item">
                    <a href="{{ url_for('auth.login') }}">Connexion</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="overlay"></div>
        <nav class="navContainer">
            <ul class="navElements">
                <li class="navLogo">Np²</li>
                <li class="navItem1">
                    <a class="" href="{{ url_for('home.homepage') }}">Home</a>
                </li>
                <li class="navItem2">
                    <a class="" href="{{ url_for('home.list_categories') }}">Categories</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="navItem3">
                    <a class="" href="{{ url_for('auth.profil') }}">Profil</a>
                </li>
                {% else %}
                <li class="navItem3">
                    <a href="{{ url_for('auth.login') }}">Connexion</a>
                </li>
                {% endif %}
            </ul>
            <div class="navSearch">
                <form class="formSearch">
                    <input class="form-control form-control-lg inputSearch" type="search" aria-label="Search">
                    <button class="btn btn-outline-success btnSearch" type="submit">
                        <div class="searchIcon"></div>
                    </button>
                </form>
            </div>
            <div class="header-nav__wrapper">
                <div class="header-nav-burger"></div>
            </div>
            <div class="colorNav1"></div>
            <div class="colorNav11"></div>
            <div class="colorNav2"></div>
            <div class="colorNav22"></div>
            <div class="colorNav3"></div>
            <div class="colorNav33"></div>

        </nav>
    </header>
    {% block shop %} {% endblock %} {% block body %} {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block script %} {% endblock %} {% block footer %} {% endblock %}
</body>

</html>